@model CloseFriendMyanamr.Models.UserManagement.OwnerModel

@{
    ViewData["Title"] = "Create Agent";
}


<div class="row my-3 mx-auto">
    <div class="col-sm-12">
        <h3 class="mb-3 text-center responsive-heading">@ViewBag.CreateOrUpdate Employee</h3>
        <form asp-action="AgentCreate" method="post" id="employeeForm">
            <div class="row">
                <!-- Left Column: Employee Details -->
                <div class="col-md-12 col-sm-12">
                    <div class="card mx-auto w-80 shadow">
                        <div class="card-header">
                            <span class="text-primary fw-bold"> Agent Information</span>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @* <label asp-for="OwnerName" class="required"></label> *@
                                <label>Agent အမည် <span class="text-danger">*</span></label>
                                <input asp-for="OwnerName" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="OwnerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>ဖုန်း <span class="text-danger">*</span></label>
                                @* <label asp-for="OwnerPhone" class="required"></label> *@
                                <input asp-for="OwnerPhone" placeholder="Type here" class="form-control" required/>
                                <span asp-validation-for="OwnerPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @* <label asp-for="Address">FB Page</label> *@
                                <label>FB Page</label>
                                <input asp-for="Address" placeholder="Type here" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Remark"></label>
                                <input asp-for="Remark" placeholder="Type here" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3 text-center">Submit</button>
                <a href="@Url.Action("AgentList", "UserManagement")" class="btn btn-secondary mt-3 text-center">Back To List</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}