@model CloseFriendMyanamr.Models.UserManagement.ClientModel

@{
    ViewData["Title"] = "Create Client";
}
<link rel="stylesheet" href="~/css/employeeCreate.css" asp-append-version="true" />


<div class="row my-3 mx-auto">
    <div class="col-sm-12">
        <h3 class="mb-3 text-center responsive-heading">@ViewBag.CreateOrUpdate Client</h3>
        <form asp-action="ClientCreate" method="post" id="employeeForm">
            <div class="row">
                <!-- Left Column: Employee Details -->
                <div class="col-md-6 col-sm-12">
                    <div class="card mx-auto">
                        <div class="card-header">
                            Client Information
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="ClientName" class="required"></label>
                                <input asp-for="ClientName" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="ClientName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ClientPhone" class="required"></label>
                                <input asp-for="ClientPhone" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="ClientPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" placeholder="Type here" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="RegistrationDate" class="required"></label>
                                <input type="date" asp-for="RegistrationDate" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="required"></label>
                                <select class="form-select mb-1" asp-for="Status" id="Status" name="Status" data-val="true" data-val-required="Status is required.">
                                    <option value="" selected>{{Select}}</option>
                                    <option value="New">New Enquiry</option>
                                    <option value="Confirm">Confirmed</option>
                                    <option value="Shown">ShownSomeProperties</option>
                                    <option value="Wait">Waiting The Result</option>
                                    <option value="Complete">Complete (Success!)</option>
                                    <option value="Cancel">Cancel (Not Success!)</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Status"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Remark"></label>
                                <input asp-for="Remark" placeholder="Type here" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card mx-auto">
                        <div class="card-header">
                            <div class="row">
                                <span class="col-md-3 col-sm-12">
                                    Requirement
                                </span>
                                @if (ViewBag.CreateOrUpdate != null && ViewBag.CreateOrUpdate != "Create New"){

                                    <a href="@Url.Action("ClientRequirement", "ClientRequest", new { clientId = Model.Id })" class="btn btn-warning col-md-3 col-sm-12">New</a>
                                }
                                <div class="col"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            @if (ViewBag.CreateOrUpdate != null && ViewBag.CreateOrUpdate == "Create New"){
                                <div class="row my-2 text-center">
                                    <strong>Please add client data first.</strong>
                                </div>
                            }else{
                                foreach(var item in Model.ClientRequirements){
                                    @item
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3 text-center">Submit</button>
                <a href="@Url.Action("ClientList", "UserManagement")" class="btn btn-secondary mt-3 text-center">Back To List</a>

            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>