@model CloseFriendMyanamr.Models.CashManagement.CompanyExpenseModel

@{
    ViewData["Title"] = "Company Expense";
}
<link rel="stylesheet" href="~/css/employeeCreate.css" asp-append-version="true" />


<div class="row my-3 mx-auto">
    <div class="col-sm-12">
        <h3 class="responsive-heading mb-3 text-center">@ViewBag.CreateOrUpdate Expense Data</h3>
        <form asp-action="CompanyExpense" method="post" id="employeeForm">
            <div class="row">
                <!-- Left Column: Employee Details -->
                <div class="col-md-12 col-sm-12">
                    <div class="card mx-auto w-80">
                        <div class="card-header">
                            Expense Information
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="ExpenseDate"></label>
                                <input type="date" asp-for="ExpenseDate" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExpenseTitleId"></label>
                                <select class="form-select" asp-for="ExpenseTitleId" asp-items="ViewBag.ExpenseTitle" id="ExpenseTitleId" name="ExpenseTitleId" data-val="true" data-val-required="Expense Title is required.">
                                    <option value="">{{Select}}</option>
                                </select>
                                <span asp-validation-for="ExpenseTitleId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExpenseType" class="required"></label>
                                <select class="form-select" asp-for="ExpenseType" id="ExpenseType" name="ExpenseType" data-val="true" data-val-required="Expense Type is required.">
                                    <option value="CompanyExpense">Main Cash</option>
                                </select>
                                <span asp-validation-for="ExpenseType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount"></label>
                                <input type="number" asp-for="Amount" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Remark"></label>
                                <input asp-for="Remark" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="Remark" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3 text-center">Submit</button>
                <a href="@Url.Action("ExpenseList", "CashManagement")" class="btn btn-secondary mt-3 text-center">Back To List</a>

            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>